
[submodule "lib/setup-helpers"]
	path = lib/setup-helpers
	url = https://github.com/Recon-Fuzz/setup-helpers
[submodule "lib/chimera"]
	path = lib/chimera
	url = https://github.com/Recon-Fuzz/chimera
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/createx-forge"]
	path = lib/createx-forge
	url = https://github.com/radeksvarz/createx-forge
[submodule "lib/safe-utils"]
	path = lib/safe-utils
	url = https://github.com/Recon-Fuzz/safe-utils
[submodule "lib/halmos-cheatcodes"]
	path = lib/halmos-cheatcodes
	url = https://github.com/a16z/halmos-cheatcodes
[submodule "lib/enso-weiroll"]
	path = lib/enso-weiroll
	url = https://github.com/ensobuild/enso-weiroll
