*.pem
cache/
out/
broadcast/
!.env.example
.idea/
.DS_Store
.env.*
lcov.info
.vscode
deployments/latest
deployments/ci

## Recon
/medusa
/crytic-export
/echidna

## Recon Separate Configs
/medusa-core
/medusa-aggregator
