# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

cache/
out/
broadcast/
.env
.idea/
.DS_Store
.env.*
lcov.info
docs
.vscode

## Recon
/medusa
/crytic-export
/echidna

## Recon Separate Configs
/medusa-core
/medusa-aggregator
