[profile.default]
src = 'src'
out = 'out'
libs = ['lib']

solc_version = "0.8.28"
evm_version = "cancun"

optimizer = true
optimizer_runs = 90
verbosity = 3

ffi = true
fs_permissions = [{ access = "read-write", path = ".forge-snapshots/"}, { access = "read-write", path = "./deployments"}]

# False-alarm warnings
ignored_warnings_from = [
    "src/misc/ReentrancyProtection.sol" # Issue: https://github.com/ethereum/solidity/issues/14359
]

[profile.default.fuzz]
runs = 100
max_test_rejects = 1_000_000 # Number of times `vm.assume` can fail

[profile.default.invariant]
runs           = 10
depth          = 100
call_override  = false
fail_on_revert = false

[profile.ci.fuzz]
runs = 1000
max_test_rejects = 1_000_000 # Number of times `vm.assume` can fail

[profile.ci.invariant]
runs           = 100
depth          = 1000
call_override  = false
fail_on_revert = false

[profile.ci-coverage]
verbosity = 2

[profile.ci-coverage.coverage]
ignore = [
  "test/vaults/fuzzing/**/*.sol",
]

[profile.ci-coverage.fuzz]
runs = 512 # 2x of default
max_test_rejects = 65_536 # default value

[profile.smt.model_checker]
  engine = "chc" # constrained Horn clauses
  invariants = ["contract", "reentrancy"]
  show_unproved = true
  timeout = 100_000 # in milliseconds, per solving query
  targets = [
    "assert",
    "constantCondition",
    "divByZero",
    "outOfBounds",
    "overflow",
    "underflow",
  ]

[profile.smt.model_checker.contracts]
  "src/vaults/AsyncVault.sol" = ["AsyncVault"]
  "src/vaults/AsyncRequests.sol" = ["AsyncRequests"]
  "src/vaults/SyncRequests.sol" = ["SyncRequests"]
  "src/vaults/PoolManager.sol" = ["PoolManager"]
  "src/vaults/Escrow.sol" = ["Escrow"]
  "src/vaults/Root.sol" = ["Root"]
  "src/vaults/token/ERC20.sol" = ["ERC20"]
  "src/vaults/token/Tranche.sol" = ["Tranche"]
  "src/vaults/token/RestrictionManager.sol" = ["RestrictionManager"]
  "src/vaults/admin/Guardian.sol" = ["Guardian"]

[doc]
  ignore = ["**/*.t.sol", "**/*.s.sol"]
  out = "docs"
  repository = "https://github.com/centrifuge/asset-pools"

[fmt]
  line_length = 120
  tab_width = 4
  bracket_spacing = false
  int_types = "long"
  multiline_func_header = "attributes_first"
  quote_style = "double"
  number_underscore = "preserve"
  wrap_comments = true
  ignore = [
    "test/*.sol",
    #Check if https://github.com/foundry-rs/foundry/issues/9088 is fixed to remove the following:
    "src/misc/ReentrancyProtection.sol", #Because transient keyword
    "src/pools/Accounting.sol", #Because transient keyword
    "src/pools/PoolRouter.sol", #Because transient keyword
    "src/pools/MultiShareClass.sol", #Because transient keyword
    "src/common/Gateway.sol", #Because transient keyword
  ]

[rpc_endpoints]
ethereum-mainnet = "https://mainnet.infura.io/v3/${INFURA_API_KEY}"
polygon-mainnet = "https://polygon-mainnet.infura.io/v3/${INFURA_API_KEY}"
