name: "Deployment"

on:
  pull_request:
    paths:
      - ".github/workflows/deploy.yml"
  workflow_dispatch:
    inputs:
      version:
        description: "Deployment version (e.g. v3.1.5) - if not provided, the job will generate a unique version number"
        required: false
        type: string
        default: "TEST"

jobs:
  testnet:
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"
    steps:
      - uses: actions/checkout@v3
      - id: "auth"
        uses: "google-github-actions/auth@6fc4af4b145ae7821d527454aa9bd537d1f2dc5f" # v2.1.7
        with:
          workload_identity_provider: ${{ secrets.GCP_WIP }}
          service_account: ${{ secrets.GCP_SA }}
          create_credentials_file: true
          cleanup_credentials: true

      - name: "Set up Cloud SDK"
        uses: "google-github-actions/setup-gcloud@6189d56e4096ee891640bb02ac264be376592d6a" # v2.1.2
        with:
          version: ">= 363.0.0"
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.4.1

      # Make sure all tools are installed and with proper versions
      - name: Setup deployer tools
        env:
          CI_MODE: true
        run: |
          script/deploy/setup.sh
      - name: Install dependencies (forge)
        run: |
          forge install -j 0 --shallow --color auto
      - name: Set deployment variables
        id: set-vars
        run: |
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            echo "version=PR-${{ github.run_number }}-${{ github.sha }}" >> $GITHUB_OUTPUT
          else
            if [ "${{ github.event.inputs.version }}" = "TEST" ]; then
              echo "version=TEST-${{ github.run_number }}-${{ github.sha }}" >> $GITHUB_OUTPUT
            else
              echo "version=${{ github.event.inputs.version }}" >> $GITHUB_OUTPUT
            fi
          fi
      - name: Deploying all testnets
        env:
          VERSION: ${{ steps.set-vars.outputs.version }}
        run: |
          python3 script/deploy/deploy.py deploy:testnets
